body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgclass{
    width: 150px
}
.card{
    width: 400px; 
    margin:0 auto;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    text-align: center;
    border-bottom: 2px solid #d8cefe;
    background-color: lightblue;
    color: black;
}

/*.border{
    border: 1px dotted blue;}*/

